<div class="login-content">
    <h2><%= title %></h2>
    <div>
        <%- messages() %>
        <% if (errors) { %>
            <ul class="alert alert-danger">
                <% errors.array({ onlyFirstError: true }).forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>
    </div>
    <div>
        <form action="/account/login" method="post">
            <div class="form-group">
                <label for="account_email">
                    <span class="required-field">*</span>Email
                    <input type="email" id="account_email" name="account_email" value="<%= locals.account_email %>" required>
                </label>
                <div class="input-group">
                    <label for="account_password">
                        <span class="required-field">*</span>Password
                        <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                        <span class="input-note">Note: Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
                    </label>
                    <button class="btn show-password" type="button" aria-label="Register Button">
                        <svg class="show-password-icon" fill="currentColor" version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <path d="M26.41827,10.48932l-4.66919,4.66925c0.16602,0.61133,0.23676,1.28998,0.17993,1.9397   c-0.19702,3.63757-3.94067,6.3078-7.43884,5.31909c0.00006,0-3.19946,3.19952-3.19946,3.19952   c7.60077,2.17737,16.11145-1.31201,20.00677-8.19879c0.27002-0.45984,0.27002-1.03979,0.00006-1.49963   C30.05328,13.74097,28.37927,11.95978,26.41827,10.48932z"/>
                                <path d="M0.70251,15.91852C0.4325,16.3783,0.4325,16.95825,0.70245,17.41821c1.25983,2.16962,2.9295,3.99933,4.88916,5.41907   L3.4834,24.94562c-0.5899,0.58984-0.5899,1.52972,0,2.11963c0.58575,0.5849,1.53394,0.58527,2.11963,0L25.62988,7.03845   c1.32361-1.39282-0.77502-3.46704-2.14978-2.08954c0.00006-0.00006-2.78088,2.78082-2.78088,2.78082   C13.12482,5.51575,4.58484,9.05157,0.70251,15.91852z M17.50983,10.91931c-0.00006-0.00006-7.25891,7.25879-7.25891,7.25879   c-0.12994-0.47998-0.19995-0.98993-0.19995-1.50977C9.99396,12.83832,13.82764,9.88446,17.50983,10.91931z"/>
                            </g>
                        </svg>
                        <svg class="hide hide-password-icon" fill="currentColor" version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <path d="M16,6.41156c-6.28894,0-12.14807,3.38947-15.29755,8.83856c-0.26996,0.4599-0.26996,1.03979,0,1.49976   C3.85193,22.19904,9.71106,25.58844,16,25.58844s12.14807-3.3894,15.29755-8.83856c0.26996-0.45996,0.26996-1.03986,0-1.49976   C28.14807,9.80103,22.28894,6.41156,16,6.41156z M16,21.9491c-3.27948,0-5.94904-2.66962-5.94904-5.9491   S12.72052,10.05096,16,10.05096S21.94904,12.72052,21.94904,16S19.27948,21.9491,16,21.9491z"/>
                                <circle cx="16" cy="16" r="2.94952"/>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <button type="submit" class="btn login-button">Login</button>
            <div class="signup-link">No Account? <a href="/account/register">Signup</a></div>
        </form>
    </div>
</div>
