<div class="home-content">
    <section class="hero-section">
        <h2>Welcome to CSE Motors!</h2>
        <div id="hero-container">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean Car" width="500" height="255">
            <div>
                <h3>DMC Delorean</h3>
                <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
                <a href="/inventory" class="button">Own Today</a>
            </div>
        </div>
    </section>
    <section class="reviews-section">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of the day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section class="upgrades-section">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" width="65" height="65">
                <figcaption>
                    <a href="#">Flux Capacitor</a>
                </figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals" width="65" height="82">
                <figcaption>
                    <a href="#">Flame Decals</a>
                </figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" width="65" height="57">
                <figcaption>
                    <a href="#">Bumper Stickers</a>
                </figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" width="65" height="65">
                <figcaption>
                    <a href="#">Hub Caps</a>
                </figcaption>
            </figure>
        </div>
    </section>
</div>
