<% if (!title) res.redirect('/') %>

<div class="management-content">
    <h2><%= title %></h2>
    <div>
        <%- messages() %>
    </div>
    <div>
        <a class="btn" href="/inv/classification/add">
            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm10 22h-8v8h-4v-8h-8v-4h8v-8h4v8h8v4z"/>
            </svg>
            Add New Classification
        </a>
        <a class="btn" href="/inv/add">
            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm10 22h-8v8h-4v-8h-8v-4h8v-8h4v8h8v4z"/>
            </svg>
            Add New Vehicle
        </a>
        <div>
            <h3>Manage Inventory</h3>
            <p>Choose a classification to see those inventory items.</p>
            <%- classificationList %>
            <table id="inventoryDisplay"></table>
            <noscript>JavaScript must be enabled to use this page.</noscript>
            <script src="../../js/inventory.js"></script>
        </div>
    </div>
</div>
